<div class="container">
  <h1> Services Index </h1>
<%= link_to "< Back", artist_path(@artist)  %>
<%= link_to "Add New Service", new_artist_service_path(@artist)  %>
<% @services.each do |service| %>
<h3><%= service.name %></h3>
<h4> <%= service.price  %></h4>
<p><%= service.description %></p>
<%= link_to "Edit", edit_service_path(service) %>
<%= link_to "Delete", service_path(service), method: :delete %>
<% end %>

</div>
