<div class="d-flex align-items-center justify-content-between p-3 mb-2 bg-white">
    <%= link_to user_path(current_user) do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <h6 class = "text-center"> liked images  </h6>
  <%= link_to user_path(current_user) do %>
  <%= cl_image_tag current_user.photo.key, height: 48, width: 48, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle" %>
  <% end %>
  </div>

<div class="container ">
  <div data-controller="bookmarks">
    <ul id="bookmarks-list" class=" photo-grid grid-list" data-action="drop->bookmarks#sort">
    <% @bookmarks.each do |bookmark| %>
    <% if ActiveStorage::Attachment.find_by(blob:bookmark.blob).present? %>
      <li class="bookmark-item grid-item" data-bookmark-id="<%= bookmark.id %>">
        <%= link_to artist_path(ActiveStorage::Attachment.find_by(blob:bookmark.blob).record.user.artist, anchor: "photo-#{bookmark.blob.id}") do  %>
        <%= cl_image_tag bookmark.blob.key,  width: 400, height: 400, crop: :fill, class: "w-100 bookmark-img", style: "border-radius: 20px;" %>
        <% end %>
      </li>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>


