<div class="d-flex align-items-center justify-content-between p-3 bg-white">
    <%= link_to user_path(current_user) do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <h6 class = "text-center"> liked images  </h6>
  <%= link_to user_path(current_user) do %>
  <%= cl_image_tag current_user.photo.key, height: 48, width: 48, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle" %>
  <% end %>
  </div>

<div class="container ">
  <div data-controller="bookmarks">
    <ul id="bookmarks-list" class="list-inline" data-action="drop->bookmarks#sort">
    <% @bookmarks.each do |bookmark| %>
    <li class="bookmark-item list-inline-item" data-bookmark-id="<%= bookmark.id %>">
    <%= cl_image_tag bookmark.blob.key,  width: 400, height: 400, crop: :fill, class: "mt-1 w-100 bookmark-img" %>


    </li>
    <% end %>
    </ul>
  </div>
</div>


