<div class="container">
  <h1>Artists Index  Page </h1>
 <% @artists.each do |artist| %>
 <h2><%= artist.user.first_name %> <%= artist.user.last_name %></h2>
 <h2><%= artist.description %></h2>
 <%= link_to "View", artist_path(artist)  %>
 <% end %>

 <% @artists.each do |artist| %>
 <h2><%= artist.user.first_name %> <%= artist.user.last_name %></h2>
 <h2><%= artist.description %></h2>
 <%= link_to "View", artist_path(artist)  %>
 <% end %>
</div>
