  <div class="d-flex align-items-center justify-content-between p-3 bg-white">

    <%= link_to :back do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h6><%= @artist.user.username %></h6>
    <div>
    <% if current_user == @artist.user %>
      <%= link_to edit_artist_path(@artist) do %>
        <i class="fas fa-pen-square"></i>
        <% end %>
        <% elsif %>
        <% user_signed_in? %>

        <% if @chat.present? && @chat.messages.empty? %>
        <%= link_to chat_path(@chat) do %>
        <i class="far fa-comments"></i>
        <% end %>
        <% elsif @chat.present? %>
        <%= link_to chat_path(@chat, anchor: "message-#{@chat.messages.last.id}") do %>
        <i class="far fa-comments"></i>
        <% end %>
        <% else %>
        <%= link_to chats_path(@artist), method: :post do %>
         <i class="far fa-comments"></i>
         <% end %>
        <% end %>
        <% else %>
        <div>
        </div>
      <% end %>
  </div>
    </div>

<div class="container bottom-padding mt-3">

  <div class="bg-white p-2" style="border-radius: 20px 20px 20px 20px; text-align: center;">
    <%= cl_image_tag @artist.user.photo.key, height: 100, width: 100, gravity: :face, crop: :fill, radius: :max, class: "mt-3 mr-3" %>
    <br><br>
    <h4><%= @artist.user.first_name %> <%= @artist.user.last_name %></h4>
    <h6><i class="fas fa-map-marker-alt fa-lg pr-1"></i> <%= @artist.user.address %></h6>
    <h6><% if @average_rating == 0 %>
    <% else %>
      <% @average_rating.times do %>
       <%= content_tag(:i, "", class: "fas fa-star rating") %>
      <% end %>
      <%= @average_rating %> (<%= @reviews.count %>)
    <% end %>
    </h6>
    <p style="padding: 20px; margin-top: 5px;"><%= @artist.description %></p>

    <%= render 'shared/show_carousel' %>

    <div class="p-2" style="text-align: left;">
      <br>
      <h6>Services</h6>
      <%= render 'shared/show_accordion' %>
      <% if current_user == @artist.user %>
        <div style="margin-top: 12px;">
          <%= link_to new_artist_service_path(@artist) do %>
             <i class="far fa-plus-square ml-1 rating"></i> <small>Add a service</small>
          <% end %>
        </div>
      <% end %>
      <br><br>
      <%= link_to "Book #{@artist.user.first_name}", new_booking_path(artist_id: @artist), artist: @artist, method: :get, class: "btn book-btn" %>
      <hr></hr>
      <h6 style="margin-bottom: 16px;">Experience</h6>
      <p><%= @artist.qualifications %></p>
      <hr></hr>
      <div style="display: flex; justify-content: space-between">
      <h6 style="margin-bottom: 16px;">Working Hours</h6>
      <div>
      <% if @artist.working_hour.present? %>
      <% if current_user == @artist.user && @artist.working_hour.present? %>
        <%= link_to edit_working_hour_path(@artist.working_hour) do %>
          <i class="fas fa-pen-square rating ml-2"></i>
        <% end %>
        <%= link_to working_hour_path(@artist.working_hour), method: :delete, class: "delete" do %>
          <i class="fas fa-trash rating ml-2"></i>
        <% end %>
      <% end %>
      </div>
      </div>
      <% if @artist.working_hour.nil? && current_user == @artist.user %>
        <div style="margin-top: 12px;">
          <%= link_to new_artist_working_hour_path(@artist) do %>
            <i class="far fa-plus-square ml-1 rating"></i> <small>Add working hours</small>
          <% end %>
      <% end %>
      <table class="table table-borderless" style="width: 100%">
      <thead>
        <tr>
          <td scope="col">Day</th>
          <td scope="col"class="tdright">Start Time</th>
          <td scope="col" class="tdright">End Time </th>
        </tr>
      </thead>
      <tbody>
        <% first_day = Date.today.at_beginning_of_week %>
        <% days = 7.times.map {|x| first_day + x.days} %>
        <% days.each do |day| %>
        <tr>
          <td scope="row"><%= day.strftime("%A") %></th>
          <td class="tdright"><%= "-" if @artist.working_hour["#{day.strftime("%A").downcase}start_time"].nil? %><%= @artist.working_hour["#{day.strftime("%A").downcase}start_time"].strftime("%l:%M%P") if @artist.working_hour["#{day.strftime("%A").downcase}start_time"].present? %></td>
          <td class="tdright"><%= "-" if @artist.working_hour["#{day.strftime("%A").downcase}start_time"].nil? %><%= @artist.working_hour["#{day.strftime("%A").downcase}end_time"].strftime("%l:%M%P") if @artist.working_hour["#{day.strftime("%A").downcase}end_time"].present? %></td>
        </tr>
        <% end %>
      </tbody>   
      </table>
      <% end %>    

      <hr></hr>
      <h6 style="margin-bottom: 16px;">Reviews</h6>
      <% if @reviews.empty? %>
        <p>No reviews yet</p>
        <br>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="d-flex">
            <%= cl_image_tag review.booking.user.photo.key, height: 60, width: 60, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mr-1" %>
            <div style="margin-left: 10px;">
              <strong><%= review.booking.user.username %></strong>
              <br><% (review.rating).times do %>
                <%= content_tag(:i, "", class: "fas fa-star rating") %>
              <% end %>
              <br><p><%= review.created_at.strftime("%d %B %Y") %></p>
            </div>
          </div>
          <p><%= review.content %></p>
          <% if review.booking.artist.user == current_user && review.reply.nil? %>
            <%= link_to "Reply to #{review.booking.user.username}", edit_review_path(review), method: :get, class: "small" %>
            <br>
          <% elsif %>
            <% review.booking.artist.user != current_user && review.reply.nil? %>
          <% else %>
            <div class="d-flex" style="border-left: 3px solid #e5e5e5; padding: 5px;">
              <%= cl_image_tag review.booking.artist.user.photo.key, height: 40, width: 40, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mr-1" %>
              <div style="margin-left: 10px;">
                <strong><%= review.booking.artist.user.username %></strong>
                <p><%= review.updated_at.strftime("%d %B %Y") %></p>
                <p><%= review.reply %></p>
              </div>
            </div>
          <% end %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

