<div class="container">
  <%= link_to "< Back", artists_path  %>
  <%= render 'shared/show_carousel' %>
  <div class="d-flex justify-content-between p-3">
    <h2><%= @artist.user.first_name %> <%= @artist.user.last_name %></h2>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  </div>
  <p><%= @artist.user.address %></p>
  <hr>

  <h5> About Me </h5>
  <p><%= @artist.description %></p>

  <h5> Services </h5>

 <%= render 'shared/show_accordion' %>
  <br>
  <h5> Qualifications </h5>
  <p><%= @artist.qualifications %></p>

</div>
