<div class="container bottom-padding">
    <div class="d-flex justify-content-between pt-2 pb-2">

    <%= link_to artists_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h6><%= @artist.user.username %></h6>
    <div>
    <i class="far fa-heart"></i>
    <i class="far fa-comments"></i>
  </div>
  <!--  The heart will become a link to the "save to favourtes... -->
    </div>
    <div class="shadow circle-border">
  <%= render 'shared/show_carousel' %>
  <div class="d-flex justify-content-between bg-white p-2 circle-border">
    <div>
    <h3><%= @artist.user.first_name %> <%= @artist.user.last_name %></h3>
    <h6><%= @artist.user.address %></h6>
    <h6>
      <i class="fas fa-star rating"></i>
      <i class="fas fa-star rating"></i>
      <i class="fas fa-star rating"></i>
      <i class="fas fa-star rating"></i>
      <i class="fas fa-star rating"></i>
       4.98 (248)


    </h6>
    <!-- This part needs to be altered once we have added the reviews to our model, just for design purposes. -->
    </div>
    <%= cl_image_tag @artist.user.photo.key, height: 100, width: 100, gravity: :face, crop: :fill, radius: :max %>
  </div>
</div>

  <div class="p-3">
  <h6> About Me </h6>
  <p><%= @artist.description %></p>

  <h6> Services
<% if current_user == @artist.user %>
  <%= link_to new_artist_service_path(@artist) do %>
     <i class="far fa-plus-square ml-1 rating"></i>
    <% end %>
<% end %>
  </h6>

<div id="accordion">

  <% @artist.services.each do |service| %>
  <div class="card">
    <div class="card-header" id="heading<%= service.id %>">
      <h6 class="mb-0">
        <button class="btn collapsed font" data-toggle="collapse" data-target="#collapse<%= service.id %>" aria-expanded="false" aria-controls="collapse<%= service.id %>">
          <%= service.name.capitalize %>
          <% if current_user == @artist.user %>
            <%= link_to edit_service_path(service) do %>
              <i class="fas fa-pen-square rating ml-2"></i>
            <% end %>

            <%= link_to service_path(service), method: :delete, class: "delete" do %>
              <i class="far fa-minus-square rating ml-2"></i>
            <% end %>
          <% end %>
        </button>
      </h6>
    </div>
    <div id="collapse<%= service.id %>" class="collapse" aria-labelledby="heading<%= service.id %>" data-parent="#accordion">
      <div class="card-body">
        <strong> Price </strong>
        <br>
        $<%= service.price %> AUD
        <br><br>
        <strong> Duration </strong>
        <br>
        <%= service.duration %> Minutes
        <br><br>
        <strong>Description </strong>
        <br>
        <%= service.description %>
      </div>
    </div>
  </div>
  <% end %>
</div>
  <br>
  <h6> Qualifications & Work Experience  </h6>
  <p><%= @artist.qualifications %></p>

</div>
</div>
<div class="availability">
  <a href="#" class="btn btn-dark btn-block">Check Availability </a>
</div>
