<div class="d-flex justify-content-between align-items-center p-3 bg-white">
  <% if @booking.user == current_user %>

    <%= link_to bookings_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h6 class="text-center"> booking with <%= @booking.artist.user.first_name.downcase %> </h6>
  <% else %>
    <%= link_to all_bookings_path do  %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
    <h6 class="text-center"> booking for <%= @booking.user.first_name.downcase %> </h6>
  <% end %>

  <%= link_to user_path(current_user) do %>
  <%= cl_image_tag current_user.photo.key, height: 48, width: 48, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

<div class="booking-card">
<div style="text-align: center">
  <% if @booking.user == current_user %>
  <%= link_to artist_path(@booking.artist) do  %>
<%= cl_image_tag @booking.artist.user.photo.key, height: 100, width: 100, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mb-2" %>
  <% end %>
<% else  %>
<%= cl_image_tag @booking.user.photo.key, height: 100, width: 100, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mb-2" %>
<% end %>

<br>
  <% if @booking.status == "pending" %>
    <p class="badge badge-warning" style="padding: 5px; font-size: 16px;"><%= @booking.status.upcase %></p>
  <% elsif %>
    <% @booking.status == "confirmed" %>
  <p class="badge badge-warning" style="padding: 5px; font-size: 16px;"><%= @booking.status.upcase %></p>
  <% elsif %>
    <% @booking.status == "declined" %>
    <p class="badge badge-warning" style="padding: 5px; font-size: 16px;"><%= @booking.status.upcase %></p>
  <% elsif %>
    <% @booking.status == "cancelled" %>
    <p class="badge badge-warning" style="padding: 5px; font-size: 16px;"><%= @booking.status.upcase %></p>
  <% end %>
  </div>

  <br>Services selected:
  <ul>
    <% @services_names_qty.each do |service| %>
     <li><%= service[0] %> x <%= service[1] %> people</li>
    <% end %>
  </ul>
  <br>Start time: <%= @booking.start_time.strftime("%d %B %Y, %-l:%M%P") %>
  <br>End time: <%= @booking.end_time.strftime("%d %B %Y, %-l:%M%P") %>
  <br>Total duration (hr): <%= @booking.total_duration / 60 %>
  <br>Total price: $<%= @booking.total_price %>

  <br><br>
  <% if @booking.artist.user == current_user && @booking.status == "pending" then %>
    <%= link_to confirm_booking_path(@booking), method: :patch do %>
    <i class="fa fa-check btn btn-outline-dark light-font" aria-hidden="true"> Accept </i>
    <% end %>

    <%= link_to decline_booking_path(@booking), method: :patch do  %>
    <i class="fa fa-times btn btn-outline-dark light-font" aria-hidden="true"> Decline </i>
    <% end %>
  <% elsif @booking.artist.user == current_user && @booking.status == "confirmed" then %>
    <%= link_to cancel_booking_path(@booking), method: :patch do  %>
    <i class="fa fa-times btn btn-outline-dark light-font" aria-hidden="true"> Cancel   </i>
    <% end %>
  <% else %>
  <% end %>

  <% if Time.now > @booking.end_time && @booking.reviews.count == 0 && @booking.user == current_user && @booking.status == "confirmed" %>
  <%= link_to "Leave review", new_booking_review_path(@booking), class: "btn btn-outline-dark light-font", style: "width: 100%; margin-top: 16px" %>
  <% end %>
</div>

  </div>
  </div>

</div>
