<h1>My bookings</h1>

<br>
<% @bookings.each do |booking| %>
  <% unless booking.total_price.nil? %>
  <div class="booking-card">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <%= cl_image_tag booking.artist.user.photo.key, height: 60, width: 60, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mr-1" %>
        <div style="margin-left: 10px">
          <strong><%= booking.artist.user.username %></strong><br>
          <span style="color: grey; font-size: 9pt">Booking placed <%= booking.created_at.strftime("%d %B %Y") %></span>
          <br>
          <% if booking.status == "pending" %>
            <p class="badge badge-warning" style="padding: 5px; margin-top: 8px"><%= booking.status.upcase %></p>
          <% elsif %>
            <% booking.status == "confirmed" %>
            <p class="badge badge-success" style="padding: 5px; margin-top: 8px"><%= booking.status.upcase %></p>
          <% elsif %>
            <% booking.status == "declined" %>
            <p class="badge badge-dark" style="padding: 5px; margin-top: 8px"><%= booking.status.upcase %></p>
          <% elsif %>
            <% booking.status == "cancelled" %>
            <p class="badge badge-danger" style="padding: 5px; margin-top: 8px"><%= booking.status.upcase %></p>
          <% end %>
          <br>
        </div>
      </div>
      <div>
        <%= link_to "View details", details_booking_path(booking), method: :get, class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
