<div class="d-flex align-items-center justify-content-between p-3 bg-white">

    <%= link_to :back do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h6>select time</h6>
<br>
</div>
<br>

<div class="container bottom-padding mt-3">
<div class="d-flex justify-content-between bg-white p-2" style="border-radius: 20px 20px 0px 0px;">
<%= simple_form_for @booking, url: {action: 'create'},  html: {method: :post, style: 'width: 100%'} do |f| %>
  <div style="display: block">
  <h1> Services Selected </h1>
    <% @booking.services_bookings.each do |f| %>
        <ul> <%= "#{f.service.name} (qty: #{f.quantity})"  %> </ul>
    <% end %>
  <%= f.fields_for :services_bookings do |s| %>
    <div style="display: flex">
    <%= s.hidden_field :service_id %>
    <%= s.hidden_field :quantity, placeholder: 'Quantity', data: {duration: s.object.service.duration}, class: 'quantity input' %>
    </div>
    <br>
  <% end %>
  <br>
  <ul> <%= "Duration - #{@booking.total_duration} minutes " %> </ul>
  <br>
  <h5> Select Time </h5>
  <br>
    <%= f.hidden_field :artist_id %>
    <%= f.hidden_field :total_duration %>
    <p><%= @booking.start_time.strftime('%d-%m-%Y') %></p>
 
  <%= f.input :start_time, collection: @timestest, disabled: @disabled %>
  </div>
  <br>
  <%= f.submit "Book", disabled: 'disabled', id: 'timesubmit', class: "btn btn-primary btn-lg btn-block", style: "width: 100%; padding: 10.5px" %>
<% end %>
</div>
</div>