<% if user_signed_in? %>
  <div class="container bg-white p-4">
    <br>
    <h3><%= "Hello #{@user.first_name}" %></h3>
    <br>
    <div style="text-align: center">
      <%= cl_image_tag current_user.photo.key, height: 100, width: 100, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle" %>

    </div >
    <br>
    <br><strong><%= @user.first_name %> <%= @user.last_name %></strong>
    <br><i class="fas fa-map-marker-alt fa-lg pr-1"></i> <%= @user.address %>
    <br>Member since <%= @user.created_at.strftime("%d %B %Y") %>

    <% if @user.artist.nil? %>
      <div class="nav-tile">
        <i class="fas fa-portrait"></i>
        <br>
        <%= link_to "Become an artist", new_artist_path %>
      </div>
    <% end %>

    <% unless @user.artist.nil? %>
      <div class="nav-tile">
        <i class="fas fa-portrait"></i>
        <br>
        <%= link_to "My artist page", artist_path(id: @user.artist) %>
      </div>
    <% end %>

    <div class="nav-tile">
      <i class="far fa-calendar-alt"></i>
      <br>
      <%= link_to "My bookings", bookings_path %>
    </div>

    <% unless @user.artist.nil? %>
      <div class="nav-tile">
        <i class="fas fa-people-arrows"></i>
        <br>
        <%= link_to "My jobs", all_bookings_path %>
      </div>
    <% end %>

    <div class="nav-tile">
      <i class="fas fa-cog"></i>
      <br>
      <%= link_to "Edit Account", edit_user_registration_path %>
    </div>

    <div class="nav-tile">
      <i class="fas fa-sign-out-alt"></i>
      <br>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>

    <br><br>

  </div>
<% end %>

