<div class="d-flex align-items-center justify-content-between p-3 bg-white">

    <%= link_to :back do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h6>booking details</h6>
<br>
</div>
<br>
<div class="container bottom-padding mt-3">
<div class="d-flex justify-content-between bg-white p-2" style="border-radius: 20px 20px 0px 0px;">
<div style='display: block'>
<br>
<h6> Artist </h6>
<br>
<p> <%= @artist.user.first_name %> <%= @artist.user.last_name %> </p>
<br>
<br>
<h6> Services selected </h6>
<br>
<% @booking.services_bookings.each do |s| %>
   <p><%= "- #{s.service.name} (#{s.quantity})" %></p>
<% end %>
<br>
<h6> Details</h6>
<br>
<% a = 0 %>
<% b = 0 %>
<% @booking.services_bookings.each do |s| %>
   <% a = a + ( s.quantity * s.service.duration ) %>
   <% b = b + ( s.quantity * s.service.price) %>
<% end %>
<p> - <%= a %> minutes </p>
<p> - $<%= b %> </p>
<p> - <%= @booking.start_time.strftime('%H:%M %P   -   %A the %d %B, %y') %> </p>
<br>
<h6>

</div>

<br>
<br>
</div>
</div>