<div style="width: 100%; display: none" id='searchbar'>
  <div class="search-active-bg">
  </div>
  <div class="search-active-overlay">
<!-- <div class="inputWithIcon">
        <input type="text" placeholder="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
    </div> -->

    <%= form_tag artists_path, method: :get, class: "in-line" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "location-form",
    placeholder: "Search location"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <%= form_tag artists_path, method: :get, class: "in-line" do %>
    <%= text_field_tag :query_artist,
    params[:query_artist],
    class: "artist-form",
    placeholder: "Search name"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

  <!-- <div style="width: 90%; margin-top: 0px">
        <ul class="list-group list-group-horizontal">
          <button type="button" class="btn search-button" style="flex-grow: 1; margin: 8px">Artist</button>
          <button type="button" class="btn search-button" style="flex-grow: 1; margin: 8px">Location</button>
        </ul>
      </div> -->
  </div>
</div>
