  <div class="d-flex align-items-center justify-content-between p-3 bg-white">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <h6 class = "text-center"> important messages </h6>
  <%= link_to user_path(current_user) do %>
  <%= cl_image_tag current_user.photo.key, height: 48, width: 48, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle" %>
  <% end %>
  </div>
<div class="container mt-3">

<div class="chats">
  <% if @chats.empty? %>
  <div class="empty-chat-index">
  <i class="fas fa-star"></i>
  <h6 >you don't have any messages marked as important... </h6>
  </div>
  <% end %>

  <!-- --------------------------------------- -->

<% @chats.each do |chat| %>
<% if chat.messages.present? %>


<!-- current user = chat.user HTML -->
<% if chat.user == current_user %>

<div class="chat-box shadow d-flex justify-content-between p-2 mb-2 align-content-center">
  <div class="d-flex">
    <%= link_to chat_path(chat, anchor: "message-#{chat.messages.last.id}") do %>
    <%= cl_image_tag chat.artist.user.photo.key, height: 64, width: 64, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mr-1" %>
    <% end %>
      <div class="chat-content">
        <div class="dropdown dropdown-menu-right">
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= chat.artist.user.username %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <%= link_to chat_path(chat, anchor: "message-#{chat.messages.last.id}"), class: "dropdown-item" do %>
          <i class="fas fa-comment"></i> message
          <% end %>

          <% if chat.user_favourite == true %>
            <%= link_to favourites_chat_path(chat), method: :patch, class: "dropdown-item" do %>
           <i class="fas fa-star"></i> mark as not important
          <% end %>
          <% else %>
          <%= link_to favourites_chat_path(chat), method: :patch, class: "dropdown-item" do%>
          <i class="far fa-star"></i> mark as important
          <% end %>
          <% end %>
          <%= link_to artist_path(chat.artist), class: "dropdown-item" do%>
          <i class="fas fa-user"></i> view profile
          <% end %>
          <%= link_to archive_chat_path(chat), method: :patch, class: "dropdown-item" do%>
            <i class="fas fa-archive"></i> archive
        <% end %>
        </div>
      </div>
        <p><%= chat.messages.last.content[0..52] %>
         <% if chat.messages.last.content.length > 52 %>
         ...
         <% end %>
      </p>
    </div>
      </div>
      <div class="message-time">
      <% if Time.now - 86400 < chat.messages.last.created_at %>
        <h6 class="text-right"><%= chat.messages.last.created_at.strftime("%l %M %p") %></h6>
      <% elsif Time.now - 86400 > chat.messages.last.created_at && Time.now - 604800 < chat.messages.last.created_at %>
        <h6 class="text-right"><%= chat.messages.last.created_at.strftime("%a") %></h6>
      <% else %>
       <h6 class="text-right"><%= chat.messages.last.created_at.strftime("%e %b %y") %></h6>
      <% end %>




    </div>
  </div>
  <% else %>

  <!-- --------------------------------------- -->
  <!-- current_user.artist == chat.artist HTML -->
  <div class="chat-box d-flex justify-content-between p-2 mb-2 align-content-center">
    <div class="d-flex">
    <%= link_to chat_path(chat, anchor: "message-#{chat.messages.last.id}") do %>
      <%= cl_image_tag chat.user.photo.key, height: 64, width: 64, gravity: :face, crop: :fill, radius: :max, class: "rounded-circle mr-1" %>
    <% end %>
     <div class="chat-content">
       <div class="dropdown dropdown-menu-right">
       <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= chat.user.username %>
       </button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to chat_path(chat, anchor: "message-#{chat.messages.last.id}"), class: "dropdown-item" do %>
        <i class="fas fa-comment"></i> message
        <% end %>

    <% if chat.artist_favourite == true %>
     <%= link_to favourites_chat_path(chat), method: :patch, class: "dropdown-item" do %>
       <i class="fas fa-star"></i> mark as not important
     <% end %>
   <% else %>
     <%= link_to favourites_chat_path(chat), method: :patch, class: "dropdown-item" do%>
       <i class="far fa-star"></i> mark as important
     <% end %>
   <% end %>

   <% if chat.user.artist.present? %>
    <%= link_to artist_path(chat.user.artist), class: "dropdown-item" do%>
      <i class="fas fa-user"></i> view profile
    <% end %>
  <% end %>

         <%= link_to archive_chat_path(chat), method: :patch, class: "dropdown-item" do%>
            <i class="fas fa-archive"></i> archive
        <% end %>
         </a>
       </div>
     </div>


      <p><%= chat.messages.last.content[0..52] %>
        <% if chat.messages.last.content.length > 52 %>
         ...
         <% end %>
       </p>
     </div>
       </div>
      <div class="message-time">
      <% if Time.now - 86400 < chat.messages.last.created_at %>
        <h6 class="text-right"><%= chat.messages.last.created_at.strftime("%l %M %p") %></h6>
      <% elsif Time.now - 86400 > chat.messages.last.created_at && Time.now - 604800 < chat.messages.last.created_at %>
        <h6 class="text-right"><%= chat.messages.last.created_at.strftime("%a") %></h6>
      <% else %>
       <h6 class="text-right"><%= chat.messages.last.created_at.strftime("%e %b %y") %></h6>
      <% end %>
    </div>
  </div>
  <% end %>

    <!-- --------------------------------------- -->
<% end %>
<% end %>
</div>
</div>

<!-- bottom navbar -->

<%= render 'chat-nav' %>

  <!-- --------------------------------------- -->

